<nav class="aside">
  <h1 class="title">문서, 이벤트, 인터페이스</h1>
  <ul id="sub-nav">
    <li class="sub-content">문서
      <ul class="content-toggle" id="js-intro">
        <li class="content"><a href="/page/dom/01-basic/dom.html">About HTML</a></li>
      </ul>
    </li>
    <li class="sub-content">이벤트 기초
      <ul class="content-toggle" id="js-basic">
        <li class="content"><a href="/page/javascript/02-basic/01-basic.html">기본 사항</a></li>
        <li class="content"><a href="/page/javascript/02-basic/02-data-type.html">자료형</a></li>
      </ul>
    </li>
    <li class="sub-content">인터페이스
      <ul class="content-toggle" id="js-object">
        <li class="content"><a href="/page/javascript/03-object/01-object.html">객체</a></li>
        <li class="content"><a href="/page/javascript/03-object/02-method-this.html">method,this</a></li>
      </ul>
    </li>
  </ul>
</nav>