<aside class="aside">
  <h1 class="title">JS Core</h1>
  <ul id="sub-nav">
    <li class="sub-content">자바스크립트 개요
      <ul class="content-toggle" id="js-intro">
        <li class="content"><a href="/page/javascript/01-intro/01-about.html">About JavaScript</a></li>
        <li class="content"><a href="/page/javascript/01-intro/02-docs-env.html">매뉴얼과 명세서 등</a></li>
      </ul>
    </li>
    <li class="sub-content">자바스크립트 기본
      <ul class="content-toggle" id="js-basic">
        <li class="content"><a href="/page/javascript/02-basic/01-basic.html">기본 사항</a></li>
        <li class="content"><a href="/page/javascript/02-basic/02-data-type.html">자료형</a></li>
      </ul>
    </li>
    <li class="sub-content">객체(기본)
      <ul class="content-toggle" id="js-object">
        <li class="content"><a href="/page/javascript/03-object/01-object.html">객체</a></li>
        <li class="content"><a href="/page/javascript/03-object/02-method-this.html">method,this</a></li>
      </ul>
    </li>
  </ul>
</aside>